
<!--http://bl.ocks.org/eyaler/10586116 - basis of original code-->
<!DOCTYPE html>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
body {
  overflow:hidden;
  margin:-40;
  background-color: darkslategrey;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  margin-left: 40px;
  margin-top:40px;
  color:whitesmoke;
  z-index: 30
}

</style>
<body>
<div class="title">When2Discrete Graph Visualization</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/JavaScript"> 
  var nodes = JSON.parse('{{ nodes | tojson | safe}}');
  var links = JSON.parse('{{ links | tojson | safe}}');
</script>
<script src="{{ url_for('static', filename='d3.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
